body {
  background-color:darkgreen;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: darkblue;
    text-align: center;
}

span {
    text-align: center;
    padding-left: 5px;
    color: rgb(231, 247, 5);
}

#h1 {
    text-align: center;
}

.navbar ul {
    display: flex;
    list-style:circle;
    gap: 2rem;
    padding: 0;
    margin: 0;
    justify-content: center;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: rgb(194, 204, 53);
}

.skills {
    padding: 10px;
    box-shadow: 0 4px 10px;
    background-color: white;
    max-width: 200px;
    border-radius: 5px;
    margin: 20px auto;
    color: darkgreen;
}

.skills:hover {
    transform: scale(1.02);
}

#skill {
    color: rgb(231, 247, 5);
}

.projects {
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0 4px 10px;
    background-color: white;
    max-width: 300px;;
    border-radius: 5px;
    color: darkgreen;
}

.projects:hover {
    transform: scale(1.02);
}

#projecs {
    color: rgb(231, 247, 5);
}

#about {
    color: rgb(231, 247, 5);
}

.profile-pic{
    border-radius: 500px;
    width: 180px;
    height: 190px;
}

.span {
    color: rgb(231, 247, 5);
}

.input {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    color: darkgreen;
}

.input-space {
    width: 300px;
    height: 100px;
    border-radius: 5px;
    color: darkgreen;
}

#contact {
    color: rgb(231, 247, 5);
    margin: 0;
}

.text {
    text-align: center;
}

h3 {
    color: rgb(194, 204, 53);
    text-align: center;
}

#contactForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

label {
    font-size: 20px;
    color: rgb(194, 204, 53);
} 

  .btn {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;    

} 

.btn:hover {
    background-color: rgba(23, 71, 173, 0.945);
    color: darkblue;
}

.button:hover {
    background-color: #128C7E;
}

#img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

.hero h1{
  font-size: 2rem;
  margin-bottom: 10px;
}

.cta-group{
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn{
  padding: 10px 10px 20px 10px;
  border-radius: 6px;
  text-decoration: none;
}

.primary{
  background: #25D366;
  color: white;
  border-radius: 6px;
  margin: 10px 5px 10px 0;
  width: 150px;
  height: 20px;
  padding: 20px 10px 20px 10px;
  text-decoration: none;
} 

.whatsapp-float{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  color: white;
  padding: 12px 16px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

.btnprimary {
    background: #25D366;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    text-decoration: none;
}

.contact {
    color: rgb(231, 247, 5);
    margin: 30px;
} 

select{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: white;
}

.whatsapp-container{
  margin-top: 20px;
  text-align: center;
}

.whatsapp-btn{
  display: inline-block;
  background: #25D366;
  color: white;
  padding: 12px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: transform 0.2s;
}

.whatsapp-btn:hover{
  transform: scale(1.05);
}

.main {
    color: rgb(231, 247, 5);
}

.col {
    color: rgb(194, 204, 53);
}

.str {
    font-weight: bold;
}