.html{color:#E34F26;}

.css{color:#1572B6;}

.js{color:#F7DF1E;}

.react{color:#61DAFB;}

.git{color:#F1502F;}

.github{color:#ffffff;}

.figma{color:#A259FF;}

.node{color:#68A063;}

.responsive{color:#3B82F6;}

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  font-family: 'Algerian' 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ECEFF1;
  background-color: #191970;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.view-work-btn {
    display: inline-block;
    background-color: #121212;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 3px 4px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: transform 0.2s;
}

.view-work-btn:hover {
    transform: scale(1.05);
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: #222;
    padding: 8px;
}

.navbar p {
    font-size: 15px;
    font-weight: bold;
    color: #ECEFF1;
}

.navbar ul {
    display: flex;
    list-style:circle;
    gap: 50px;
    padding: 6px;
    margin: 4px;
    justify-content: center;
    justify-content: space-evenly;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 5px;
    margin: 2px;
    justify-content: center;
    justify-content: space-evenly;
}

.list-styles {
    list-style: none;
    text-decoration: none;
    color: #ECEFF1;
    margin: 10px;
}

.navbar a {
    text-decoration: none;
    color: #ECEFF1;
}

#skills{
    padding: 5px 8%;
}

#skills h2{
    text-align:center;
    font-size:2.5rem;
    margin-bottom:15px;
}

.section-subtitle{
    text-align:center;
    color:#bdbdbd;
    max-width:650px;
    margin:0 auto 70px;
    line-height:1.7;
}

/* Category */

.skill-category{
    margin-bottom:60px;
}

.skill-category h3{
    margin-bottom:25px;
    font-size:1.5rem;
    color:#fff;
}

/* Grid */

.skills-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));

    gap:20px;

}

/* Card */

.skill-card{

    background:#181818;

    border:1px solid rgba(255,255,255,.08);

    border-radius:18px;

    padding:25px;

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    gap:18px;

    transition:.35s ease;

}

.skill-card:hover{

    transform:translateY(-8px);

    border-color:#3b82f6;

    box-shadow:0 15px 35px rgba(59,130,246,.15);

}

.skill-card i{

    font-size:2.3rem;

}

.skill-card img{

    width:42px;

}

.skill-card span{

    font-weight:500;

    text-align:center;

}

/* Learning */

.learning{

    border-style:dashed;

}

/* Icon Colors */


#projects{
    padding: 5px 8%;
}

#projects h2{
    text-align:center;
    font-size:2.5rem;
    margin-bottom:60px;
}

.projects-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(330px,1fr));
    gap:30px;
}

/* =======================
      Project Cards
======================= */

.project-card{
    background:#171717;
    border:1px solid rgba(255,255,255,.08);
    border-radius:18px;
    overflow:hidden;
    transition:.35s;
    padding:25px;
}

.project-card:hover{
    transform:translateY(-8px);
    border-color:#3b82f6;
    box-shadow:0 15px 35px rgba(59,130,246,.2);
}

/* =======================
     Featured Project
======================= */

.featured{
    grid-column:1/-1;

    display:grid;
    grid-template-columns:1.2fr 1fr;
    gap:35px;
    align-items:center;
}

.project-image img{
    width:100%;
    height:100%;
    border-radius:15px;
    object-fit:cover;
}

.featured-tag{
    display:inline-block;
    padding:8px 16px;
    border-radius:30px;
    background:#3b82f6;
    color:#fff;
    font-size:.8rem;
    margin-bottom:20px;
}

.h3{
    margin-bottom:15px;
    font-size:2rem;
}

.project-card h3{
    margin-bottom:15px;
}

.project-card p{
    color:#bfbfbf;
    line-height:1.7;
    margin-bottom:20px;
}

/* =======================
      Tech Stack
======================= */

.tech-stack{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-bottom:25px;
}

.tech-stack span{
    background:#252525;
    padding:8px 15px;
    border-radius:30px;
    font-size:.85rem;
}

/* =======================
        Buttons
======================= */

.project-buttons{
    display:flex;
    gap:15px;
}

.project-buttons a,
.project-card > a{

    display:inline-block;

    text-decoration:none;

    padding:12px 22px;

    border-radius:8px;

    transition:.3s;
}

.project-buttons a:first-child{
    background:#3b82f6;
    color:#fff;
}

.project-buttons a:last-child{
    border:1px solid #3b82f6;
    color:#3b82f6;
}

.project-card>a{
    background:#3b82f6;
    color:white;
}

.project-buttons a:hover,
.project-card>a:hover{
    transform:translateY(-3px);
}

/* =======================
       Status
======================= */

.status{
    display:inline-block;
    padding:8px 15px;
    background:#214d2d;
    color:#9cffb0;
    border-radius:30px;
    font-size:.85rem;
}

/* ===========================
   FOOTER
=========================== */

.footer{
    padding:20px 8% 10px;
    border-top:1px solid rgba(255,255,255,.08);
    background:#0f0f0f;
    border-radius: 10px;
}

.footer-content{
    max-width:1100px;
    margin:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    gap:35px;
}

.footer-content h3{
    font-size:2rem;
    font-weight:700;
    color:#fff;
}

.social-links {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:18px;
    margin-top: 20px;
    text-align: center;
}

.footer-content p{
    font-size:.95rem;
    color:#8f8f8f;
    border-top:1px solid rgba(255,255,255,.08);
    width:100%;
    padding-top:25px;
}


.projects:hover {
    transform: scale(1.02);
}

.profile-pic{
    border-radius: 500px;
    width: 180px;
    height: 210px;
}

.about-me {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
    box-shadow: 0 4px 5px;
    background-color: #121212;
    color: #ECEFF1;
    border-radius: 5px;
}

.input {
    width: 300px;
    height: 50px;
    border-radius: 5px;
}

.input-space {
    width: 300px;
    height: 100px;
    border-radius: 5px;
}

#contact {
    margin: 0;
}

.text {
    text-align: center;
}

h3 {
    text-align: center;
}

#contactForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

label {
    font-size: 20px;
} 

.btn {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #ECEFF1;
  color: #191970;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;  
  
} 

.btn:hover {
    background-color: #191970;
    color: #ECEFF1;
    border: 1px solid #ECEFF1;
}

.button:hover {
    background-color: #128C7E;
}

#img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

.hero h1{
  font-size: 2rem;
  margin-bottom: 10px;
}

.btn{
  padding: 10px 10px 20px 10px;
  border-radius: 6px;
  text-decoration: none;
}

.contact {
    margin: 30px;
} 

select{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: white;
}



.whatsapp-btn{
  display: inline-block;
  background: #25D366;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: transform 0.2s;
  cursor: pointer;
}

.whatsapp-btn:hover{
  transform: scale(1.05);
}

.LinkedIn-btn {
    display: inline-block;
    color: #0077B5;
    background-color: #fffffff1;
    padding: 12px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: transform 0.2s;
    cursor: pointer;
}

.LinkedIn-btn:hover {
    transform: scale(1.05);
    background-color: #046fa8;
    color: #ffffff;
}

.email-btn {
  display: inline-block;
  background-color: #d31d0cfd;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: transform 0.2s;
  cursor: pointer;
  border: none;
  text-decoration: none;
}
    
.email-btn:hover {
    transform: scale(1.05);
}

.github-link {
  display: inline-block;
  background-color: #312d2d;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: transform 0.2s;
  cursor: pointer;
}

.github-link:hover{
  transform: scale(1.05);
}

.str {
    font-weight: bold;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download-btn {
  text-decoration: none;
  color: #ECEFF1;
  background-color: #121212;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 0 3px 4px;
  transition: transform 0.2s;
}

.download-btn:hover {
  transform: scale(1.05);
}

.button-container {
  display: flex;
  gap: 20px;
  margin: 30px;
}

.git-icon {
  font-size: 40px;
  color: #F1502F;
}

.css-icon {
  font-size: 40px;
  color: #5469bd; /* CSS3 official blue */
}

.responsive-icon {
  font-size: 40px;
  color: #6a778b;
}



/* Hamburger hidden on desktop */
.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

.hamburger-menu {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* RESPONSIVE STYLES */

/* =======================
      Tablets
======================= */

@media (max-width: 1024px) {

  .about-me {
    width: 80%;
  }

  .project-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar ul,
  .nav,
  .nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* =======================
   Smaller Tablets
======================= */

@media(max-width:900px){

    .featured{
        grid-template-columns: 1fr;
    }

    .h3{
        font-size:1.6rem;
    }

}

/* =======================
     Mobile/Tablets
======================= */

@media (max-width: 768px) {
    .navbar ul, .nav-links {
        display: none; /* hide links */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #222;
        padding: 20px;
        border-radius: 8px;
        gap: 15px;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
        margin-left: auto;
        width: 30px;
        height: 30px;
    }

    .nav ul, .navigation {
        display: none; /* hide links */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #222;
        padding: 20px;
        border-radius: 8px;
        gap: 15px;
    }

    .navigation.active {
        display: flex;
    }

    .hamburger-menu {
        display: flex;
        width: 30px;
        height: 30px;
        margin-left: auto;
    }

    .about-me {
        width: 79%;
    }

    .profile-pic {
        width: 150px;
        height: 180px;
    }

    .input,
    .input-space {
        width: 90%;
    }

    .skills,
    .projects {
        max-width: 90%;
    }

    .navbar ul,
    .nav,
    .nav ul {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .button-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .project-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .skill-container {
        display: grid;
        height: 500px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .responsive-icon, .fa-square-js, .fa-html5 {
        margin-top: 20px;
    }

    .footer{
        padding:60px 6% 30px;
    }

    .footer-content h3{
        font-size:1.7rem;
    }

    .social-links {
        flex-direction:column;
        width:100%;
        gap:15px;
    }

    .social-links a{
        width:100%;
        max-width:280px;
        justify-content:center;
    }

    .featured {
        grid-template-columns: 1fr;
    }

      .project-card {
        display: grid;
        grid-template-areas: 
        "featured-tag"
        "main-content";
  }

  /* Strips the parent container layout wrapper */
  .project-content {
    display: contents; 
  }

  /* Places the target element explicitly at the top grid row */
  .featured-tag {
    grid-area: featured-tag;
    width: fit-content;
    margin: 0 auto 20px auto;
  }
}

/* =======================
   Very Small Phones
======================= */

@media (max-width: 480px) {

  .hero h1 {
    font-size: 1.5rem;
  }

  label {
    font-size: 16px;
  }

  .btn {
    width: 90%;
  }
}